<%= form_for @folder, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ancestry, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :parent_id, @folders, :id, :title_for_selects, :include_blank => true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                folders_path, :class => 'btn' %>
  </div>
<% end %>
