<div class="page-header">
  <h1><%= t("Schlagworte") %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <%= t("Anzahl") %>
    </th>
    <th>
      <%= t("Schlagwort") %>
    </th>
    <th>
      <%= t("Pro") %>
    </th>
    <th>
      <%= t("Contra") %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Anzahl
    </td>
    <td>
      Schlagwort
    </td>
    <td>
      Pro
    </td>
    <td>
      Contra
    </td>
  </tr>
  </tbody>
</table>